* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: #000000;
}

.banner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.banner div {
    margin: 1vmin;
}

.search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60%;
}

.search img {
    margin: 1vmin 40% 1vmin 40%;
    padding: 0;
    width: 20%;
}

.search div{
    display: flex;
    margin: 1vmin 35% 1vmin 35%;
    padding: 1vmin;
    width: 30%;
    height: 7%;
    border-radius: 24px;
    border: 0.1vmin #000000 solid;
    justify-content: space-between;
    align-items: center;
}

.search div:hover {
    box-shadow: 0.1vmin 0.1vmin 0.5vmin #000000;
}

.search div input {
    background-color: transparent;
    border: none;
    width: 80%;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
}

.seach i {
    height: 90%;
}

.search button {
    margin: 1vmin 42.5% 1vmin 42.5%;
    padding: 0;
    font-size: 2vmin;
    width: 15%;
    border: none;
    background-color: #eee8e8;
}

.search button:hover {
    border: 0.1vmin #999999 solid;
}