* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.squares {
    display: flex;
    flex-wrap: nowrap;
}

.squares .square {
    display: inline-block;
    width: 40vmin;
    max-width: 20vw;
    height: 40vmin;
    max-height: 20vw;
    margin: 1vmin 0 0 1vmin;
    font-size: 5vmin;
    vertical-align: top;
    color: #ffff00;
    background-color: #ff0000;
}

#special{
    color: #ffffff;
    background-color: #000000;
}