* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.number {
    display: inline-block;
    background-color: #ff0000;
    width: 40vmin;
    height: 40vmin;
    margin: 1vmin 0 0 1vmin;
    color: #ffff00;
    font-size: 5vmin;
    vertical-align: top;
}

#dos.number {
    color: #ffffff;
    background-color: #000000;
}