* {
    margin: 0;
    box-sizing: border-box;
    font-size: 5vmin;
}

html {
    width: 100%;
    min-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent;
}

body {
    max-width: 100%;
    min-height: 100vh;
}

.text-green {
    color: #00a700!important;
    padding-bottom: 0.3rem;
}

.text-green:hover {
    color: #00a700;
}

.text-green:visited {
    color: #00a700;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 100vh;
    width: 100%!important;
    align-items: center;
}

.fixed-top {
    min-height: 10vmin;
    --bs-gutter-x: 0;
    width: 100%;
    justify-content: center;
}

.navbar, #banner {
    padding: 0 4vw 0 4vw;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%!important;
    min-height: 10vmin;
    color: white;
}

.navbar .nav-link {
    transition: transform .2s;
    padding: 0;
    font-size: 0.4rem!important;
}

.navbar .nav-link:hover {
    transform: scale(1.1);
}

.image {
    width: 15vmin;
    height: auto;
}

#collapsibleNavId {
    justify-content: flex-end;
}

.navbar-collapse {
    display: flex;
    align-items: baseline;
}

.navbar-toggler-icon {
    height: 8vmin;
    width: 9vmin;
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    display: flex;
    width: 10vmin;
    height: 9vmin;
    padding: 0;
    border: 0.1rem #FFFFFF solid;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#title, #navbar {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: flex-end;
    font-size: 0.7rem;
}

#title {
    align-items: center;
}



.title {
    text-align: center;
}

.title p{
    font-size: 0.4rem;
    margin-bottom: 0;
    margin-top: 1.5vmin;
}

.title h6{
    font-size: 0.9rem;
    margin-bottom: 0;
    margin-top: 0;
}

#buy-tickets {
    margin-top: 0;
    padding-top: 10vmin;
    width: 100%;
    justify-content: center;
}

#cards-category .card {
    display: flex;
    align-items: flex-start;
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
    padding: 0;
    width: 30%;
}

.card-body {
    padding-top: 0.2rem;
    padding-left: 0.5rem;
}

.card-title {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.6rem;
}

.card-text {
    font-size: 0.4rem;
}

.card img {
    width: 100%;
    overflow: hidden;
}

#buy-tickets input, #buy-tickets .btn, #buy-tickets select {
    box-shadow: none;
}

#buy-tickets {
    width: 80%;
}

.title p span {
    text-decoration: underline dotted;
    font-size: 0.4rem;
}

#buy-tickets #cards-category {
    justify-content: center;
    width: 80%;
}

#buy-tickets .card {
    text-align: center;
    align-items: center;
}

#buy-tickets #cards-category .card .card-body {
    padding: 0.5rem 0.5rem;
    font-size: 0.4rem!important;
}

#buy-tickets #cards-category .card .card-body p b {
    font-size: 0.6rem!important;
}

#buy-tickets input, #buy-tickets select, #buy-tickets select option {
    font-size: 0.4rem!important;
    padding: 0 0 0 0.4rem;
    height: 6vmin;
}

#buy-tickets label {
    font-size: 0.4rem!important;
    padding: 0 0 0 0.4rem;
}

#buy-tickets .card-category {
    border: 0.05rem #0040ff solid;
}

#buy-tickets .row{
    display: flex;
    justify-content: center;
}

#buy-tickets form {
    padding: 0;
}

#buy-tickets form {
    width: 80%;
}

#buy-tickets>.row {
    margin-top: 2vmin;
}

#buy-tickets p{
    font-size: 0.4rem!important;
    margin: 0;
}

#buy-tickets .btn {
    width: 94%;
    background-color: #55c946;
    transition: transform .2s;
    font-size: 0.4rem!important;
    border-radius: 5px;
    text-align: center;
    height: 6vmin;
    padding: 0;
}

#buy-tickets .btn:hover{
    transform: scale(1.03);
}

#to-be-paid {
    margin: 0.5rem 0;
    text-align: center;
    background-color: #00a2ff63;
    width: 88%;
}

#to-be-paid span {
    font-size: 0.6rem!important;
    padding: 0.2rem 0;
    width: max-content;
}

#footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10vmin;
    height: 10vmin;
    width: 100%;
    background: #060b1b;
    background: linear-gradient(90deg, #060b1b 0%, #0e1c46 50%, #1c3a94 100%);
    color: #FFFFFF;
}

#footer .nav {
    padding: 0;
    justify-content: center;
}

#footer .nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vmin;
    width: 5vw;
    margin: 0 2vmin;
}

#footer .nav .nav-link {
    font-size: 0.4rem;
    transition: transform .2s;
    padding: 0;
}

#footer .nav .nav-link:hover {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    #footer .nav {
        padding: 0;
        justify-content: space-between;
    }
}