* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 300px;
}

.number {
    display: inline-block;
    background-color: red;
    width: 300px;
    height: 100%;
    margin: 30px 0 0 30px;
    color: yellow;
    font-size: 50px;
    vertical-align: top;
}

#dos.number {
    color: white;
    background-color: black;
}